<h1> About You</h1>
<p>This site is all about you, and your personal life story. We have tips and tricks to help you write, edit, produce your story <%= link_to"here", "http://google.com" %> , but ultimately it is all up to you. You can write your story and submit it, and we will choose stories that we would like to produce.</p>
